.container {
  margin: 1%;
  padding: 1%;

}

h1 {
  padding-bottom: 1%;
  font-family: 'ZCOOL KuaiLe', cursive !important;
  text-align: center;
}

/*form {
  margin: 2%;
  padding: 1%;
  border: 1px solid black;
  text-align: left;
}*/

button {
  margin: .25rem;
}

.panelControl {
  text-align: center;
  border: none;
}

/*TO-DO: colors i efectes del link*/
.titolPanelControl {
  align-self: self-start;
}

.collapse {
  text-align: left;
}

.afegirCampLink:hover {
    background: #28a74596;
}

.formulariCreat{
  margin-top: 1%;
}

.eliminarCamp {
  margin-left: 1em;
  cursor: pointer;
}
