.container {
  margin: 1%;
  padding: 1%;

}

h1 {
  padding-bottom: 1%;
  font-family: 'ZCOOL KuaiLe', cursive !important;
  text-align: center;
}

form {
  margin: 2%;
  padding: 1%;
  border: 1px solid black;
  text-align: left;
}

h4.titol-panel {
    border: solid 2px;
    height: 10%;
}

.titol-panel{
  margin-top: 20px;
}

button {
  margin: .25rem;
}

.panelControl {
  text-align: center;
  border: none;
}

.collapse {
<<<<<<< HEAD

=======
>>>>>>> 69626dcbcb17b226833c1a12c8a818cbda6e00e6
  text-align: left;
}
