h1 {
  padding-bottom: 5%;
  font-family: 'ZCOOL KuaiLe', cursive !important;
}

.container {
  margin: 1%;
  padding: 1%;
  text-align: center;
}

form {
  margin: 2%;
  padding: 1%;
  border: 1px solid black;
}
h4.titol-panel {
    border: solid 2px;
    height: 100%;
}
.titol-panel{
  margin-top: 20px;
}
